<h1><span>Product: <%= @product.name %></span></h1>
<h2><span>Review by: <%= @review.author %></span></h2>
<h3><span>Rating: <%= @review.rating %> / 5</span></h3>
<h3><span><%= @review.content_body %></span></h3>

<p><span><%= link_to "Edit review", edit_product_review_path(@product, @review) %></span></p>
<p><span><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></span></p>

<p><span><%= link_to "Return to product", product_path(@product) %></span></p>
